data/first_dataset/News_dataset/
*.sh
output/
input/
input_test/
*_dict
*_postings

.vscode/
venv/
.idea/
data/first_dataset/News_dataset_mid/
data/first_dataset/News_dataset_short/
Second_dataset/News_dataset_FakeNewsNet/
Second_dataset/Second_News_dataset/
Second_dataset/gru_model_second_dataset/
data/
saved_models/
preprocessing/
News_dataset/
.ipynb_checkpoints
News_dataset_mid/
News_dataset_short/
